.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___fighter-name p,
.fighter-preview___fighter-stats p {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-family: 'Arial Black';
  font-weight: 700;
  text-align: center;
}

.fighter-preview___fighter-name p {
  font-size: 26px;
}

.fighter-preview___fighter-stats p {
  font-size: 22px;
}

.fighter-preview___fighter-img {
  height: 280px;
  width: 200px;
  display: flex;
  justify-content: center;
  background: #ffdfa7;
  margin: 5px 0;
  border: 5px solid #ca9650;
}

.fighter-preview___fighter-img img {
  height: 100%;
}
